.mainContainer {
  padding-top: 8rem !important;
}
.searchBarContainer {
  padding-left: 21.5rem !important;
  margin-bottom: 0rem !important;
}
.searchBarInput {
  width: 39.25rem !important;
  height: 3.5rem !important;
}
.firstTitleContainer {
  margin-top: 3.5rem !important;
  margin-left: 12rem !important;
  margin-bottom: 4.25rem;
}
.breadContainer {
  height: 1.5rem !important;
  width: 21.125rem !important;
  margin-left: 10.8rem !important;
  margin-top: 3rem !important;
}
.dropContainer {
  width: 35.5rem !important;
  height: 3rem !important;
  padding-left: 16rem !important;
}
.sortContainer {
  margin-top: 1.5rem !important;
  padding-right: 6.375rem !important;
}
.sortLabel {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  line-height: 0.75rem !important;
  font-style: normal !important;
  letter-spacing: 0.009rem;
  font-family: "Roboto", sans-serif;
}
.v-select {
  padding-top: 0.563rem !important;
  margin: 0rem !important;
}
.selectContainer {
  width: 10.5rem !important;
  padding-bottom: 0rem !important;
}
.priceWrap {
  width: 14.875rem !important;
  padding-left: 1rem !important;
}
.priceContainer {
  margin-top: -60.5rem !important;
  margin-left: 6.75rem !important;
  height: 80.063rem !important;
  width: 80.063rem !important;
}
.priceLabel {
  font-size: 0.938rem !important;
  font-weight: 500 !important;
  line-height: 1.5rem !important;
  font-style: normal !important;
  letter-spacing: 0.025rem;
  font-family: "Roboto", sans-serif;
}

.priceIcon {
  padding-left: 7.75rem !important;
}

.priceSlider {
  width: 16.38rem !important;
  padding-top: 1.5rem !important;
}

.v-btn--outlined {
  border: thin solid #e5e5e5;
}
.priceBtnLabel {
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  line-height: 1.5rem !important;
  font-style: normal !important;
  letter-spacing: 0.009rem;
  padding: 0rem !important;
}

.brandContainer {
  padding-top: 3.5rem !important;
}
.brandIcon {
    padding-left: 7.75rem !important;
}
.brandList {
  width: 17.5rem !important;
}
.categoryIcon {
  padding-left: 5.5rem !important;
}
.categoryList {
  width: 17.5rem !important;
}
.priceContainerSection {
  height: 80rem !important;
}
.productWrap {
  width: 10rem !important;
  height: 8rem !important;
  margin-bottom: 2rem !important ;
  margin-left: 16rem !important;
  margin-right: -6rem !important;
} 