.orderLabel {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.251rem;
  font-style: normal;
  letter-spacing: 0.009rem;
  padding-right: 13.875rem;
}
.v-data-table-header th {
  font-size: 0.875rem !important;
  font-weight: 500 !important;
  line-height: 1.374rem;
  font-style: normal;
  letter-spacing: 0.006rem;
}
.v-chip .v-chip__content {
  color: #ffffff !important;
  font-size: 0.813rem !important;
  font-weight: 400 !important;
  line-height: 1.121rem !important;
  font-style: normal;
  letter-spacing: 0.009rem !important;
}
.invoiceClass {
  width: 1.875rem !important;
  height: 1.875rem !important;
  padding-left: 13.875rem;
}
.downloadIconClass {
    background-color: #DDE3E2;
    // padding: 1.875rem !important;
}
