.landingContainer {
  padding-top: 8rem !important;
}
.searchBarContainer {
  padding-left: 21.5rem !important;
  margin-bottom: 0rem !important;
}
.searchBarInput {
  width: 39.25rem !important;
  height: 3.5rem !important;
}
.topImageContainer {
  margin-left: 6.5rem;
  padding-top: 10rem !important;
  width: 85rem !important;
  height: 13.313rem !important;
  margin-top: -11rem !important;
  margin-bottom: 12.375rem !important;
}
.topImage {
  padding-top: 2rem !important;
}
.bigImageText {
  font-size: 2.75rem !important;
  margin-top: -12.244rem;
  margin-left: 19.063rem;
  font-weight: 300 !important;
  line-height: 3.75rem !important;
  font-style: normal !important;
  letter-spacing: -0.031rem;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.26);
}
.smallImageText {
  font-size: 1rem !important;
  margin-top: -7.244rem;
  margin-left: -18.15rem;
  font-weight: 400;
  line-height: 0.75rem;
  font-style: normal;
  letter-spacing: 0.029rem;
  height: 1.75rem;
  background-color: rgba(0, 0, 0, 0.26);
}
.firstTitleContainer {
  margin-top: 0.244rem;
  margin-left: 12rem;
  margin-bottom: 4.25rem;
}

.titleText {
  font-size: 3.75rem !important;
  margin-top: -11.244rem;
  margin-left: 11.844rem;
  font-weight: 300 !important;
  line-height: 4.5rem !important;
  font-style: normal !important;
  letter-spacing: -0.031rem;
  font-family: "Roboto", sans-serif;
}

.carouselContainer {
  margin-top: 0.244rem;
  margin-left: 12rem;
  width: 60rem !important;
  height: 9.563rem !important;
}

.secondTitleContainer {
  margin-left: 12rem !important;
}

.secondImageContainer {
  margin-left: 5.8rem;
}
.treatContainer {
  margin-left: 8.625rem !important;
}
.treatText {
  font-size: 2.75rem !important;
  margin-left: 3.625rem !important;
  margin-top: 6rem;
  font-weight: 300 !important;
  line-height: 4.5rem !important;
  font-style: normal !important;
  letter-spacing: -0.031rem;
  font-family: "Roboto", sans-serif;
}

.discoverText {
  font-size: 1rem !important;
  font-weight: 300 !important;
  line-height: 4.5rem !important;
  font-style: normal !important;
  letter-spacing: 0.009rem;
  font-family: "Roboto", sans-serif;
}

.lastContainer {
  margin-left: 12rem !important;
  margin-bottom: 9.375rem !important;
}
.tipsText {
  font-size: 2.50rem !important;
  margin-left: 3.625rem !important;
  margin-top: 6rem;
  font-weight: 100 !important;
  line-height: 4.5rem !important;
  font-style: normal !important;
  letter-spacing: -0.031rem;
  font-family: "Roboto", sans-serif;
} 
.lastImageContainer {
  margin-left: 1.8rem !important;
  margin-top: 5rem !important;
}
