.cardRadius{
    border-radius: 0.375rem !important;
}
.closeClass{
  padding-top: 1.875rem !important;
    padding-right: 1.875rem !important;
} 
.loginClass {
  padding-left: 15.763rem !important;
  padding-top: 3.063rem !important;
}
.loginIconClass {
  padding-top: 15.01px;
  width: 2.936rem;
  height: 2.651rem;
}
.loginIconNameClass {
    font-size: 1rem;
    padding-top: 0.344rem;
    padding-left: 0.444rem;
    font-weight: 200;
    line-height: 0.754rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}
.LoginLabelContainer{
    padding-left: 14.875rem !important;
    padding-top: 1.5rem !important;
}

.LoginLabel{
    padding-left: 2rem !important; 
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.001rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}

.textFieldClass{
    width: 28.75rem !important;
    height: 3.5rem !important;
    padding-left: 4.563rem !important;
    padding-bottom: 2.563rem !important;
}
.checkboxLabel{
    font-size: 1rem; 
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem; 
}

.loginBtnClass{
    width: 24.75rem !important;
    height: 2.25rem !important;
    margin-left: 4.563rem !important;
}

.loginLabelClass{
    padding-left: 2rem !important; 
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.625rem;
    font-style: normal;
    letter-spacing: 0.031rem;
}

.forgotLabel{
    padding-left: 5.563rem !important; 
    padding-top: 2rem !important; 
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.251rem;
    font-style: normal;
    letter-spacing: 0.009rem;
} 