.productDetailContainer {
  margin-left: 23.188rem !important;
  height: 40.063rem !important;
  width: 80.938rem !important;
}
.productRight {
  padding-top: 12.9rem !important;
}
.productDetailTitle {
  font-size: 1.5rem !important;
  font-weight: 400 !important;
  line-height: 3.501rem !important;
  font-style: normal !important;
  letter-spacing: 0.009rem;
  width: 30rem !important;
}
.productDetailSubTitle {
  font-size: 2.125rem !important;
  font-weight: 400 !important;
  line-height: 2.624rem !important;
  font-style: normal !important;
  letter-spacing: 0.016rem;
  display: block;
  padding-bottom: 3.625rem !important;
  color: rgba(0, 0, 0, 0.54);
}
.productDetailAmountLabel {
  font-size: 3.5rem !important;
  font-weight: 300 !important;
  line-height: 4.5rem !important;
  font-style: normal !important;
  letter-spacing: -0.031rem;
  color: rgba(0, 0, 0, 0.87);
}
.numberDiv {
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  padding: 1rem !important;
  width: 3rem !important;
  height: 3rem !important;
}

.addContainer {
  width: 9rem !important;
  margin-left: -14rem !important;
}
.btnWrap {
  width: 3rem !important;
  height: 3rem !important;
  background: #f4f6f5;
  border-radius: 4px;
}

.cartBtnWrapper {
  width: 10.563rem !important;
  height: 3rem !important;
}

.cartIcon {
  width: 1.146rem !important;
  height: 1.146rem !important;
}

.productDetailAddLabel {
  font-size: 0.813rem !important;
  font-weight: 500 !important;
  line-height: 1.375rem !important;
  font-style: normal !important;
  letter-spacing: 0.029rem;
}

.topTitleLabel {
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 1.75rem !important;
  font-style: normal !important;
  letter-spacing: 0.029rem;
  display: block;
  padding-left: 16.625rem !important;
  padding-bottom: 2.688rem !important;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 1rem !important;
}

.descriptionTitleLabel {
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 1.75rem !important;
  font-style: normal !important;
  letter-spacing: 0.029rem;
  display: block;
  padding-left: 16.625rem !important;
  padding-bottom: 2rem !important;
}

.descriptionValueLabel {
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.75rem !important;
  font-style: normal !important;
  letter-spacing: 0.029rem;
  display: block;
  padding-left: 16.625rem !important;
  padding-bottom: 2rem !important;
  color: rgba(0, 0, 0, 0.54);
}
