.productContainer{
    width: 14.75rem !important;
    height: 28rem !important;
}
.productTitle{
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    line-height: 2rem !important;
    font-style: normal !important;
    letter-spacing: 0.009rem;
}
.productSubTitle{
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.75rem !important;
    font-style: normal !important;
    letter-spacing: 0.009rem;
    display: block;
}
.productAmountLabel{
    font-size: 1.25rem !important;
    font-weight: 500 !important;
    line-height: 2rem !important;
    font-style: normal !important;
    letter-spacing: 0.009rem;
}
.productAddLabel{
    font-size: 0.813rem !important;
    font-weight: 500 !important;
    line-height: 1.375rem !important;
    font-style: normal !important;
    letter-spacing: 0.029rem; 
}
.itemLabel{
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.251rem !important;
    font-style: normal !important;
    letter-spacing: 0.009rem; 
    color: #95A7A3;
}
.itemLabelContainer {
    margin-left: 28.125rem !important;
}
.itemSelectContainer{
    margin-left: -5rem !important;
    margin-top: 0rem !important;
    padding: 0rem !important;
}