.cardRadius {
  border-radius: 0.375rem !important;
}
.closeClass {
  padding-top: 1.875rem !important;
  padding-right: 1.875rem !important;
}
.settingLabel {
  padding-top: 0.5rem !important;
  padding-bottom: 0.438rem !important;
  font-size: 1.5rem;
  padding-left: 0.444rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  letter-spacing: 0.029rem;
}
.avatarContainer{
    margin-left: 11.25rem !important;
    height: 4.188rem !important;
}
.dividerClass{
  padding-left: 4.125rem !important;
}

.nameContainer{
    padding-left: 4.188rem !important;
    width: 7.625rem !important;
    height: 1.5rem !important;
    
}
.phoneContainer{
    padding-left: 4.188rem !important;
    width: 7.625rem !important;
    height: 1.5rem !important;
    
}
.addressContainer{
    padding-left: 4.188rem !important;
    width: 7.625rem !important;
    height: 1.5rem !important;
    
}
.nameLabel{
    font-size: 0.75rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.245rem;
    font-style: normal;
    letter-spacing: 0.025rem;
}
.nameValueLabel{
    font-size: 1rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}
.dateLabel{
    font-size: 0.75rem;
    padding-top: 3.375rem; 
    font-weight: 400;
    line-height: 1.245rem;
    font-style: normal;
    letter-spacing: 0.025rem;
}
.dateValueLabel{
    font-size: 1rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}

.phoneLabel{
    font-size: 0.75rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.245rem;
    font-style: normal;
    letter-spacing: 0.025rem;
}
.phoneValueLabel{
    font-size: 1rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}
.emailLabel{
    font-size: 0.75rem;
    padding-top: 5.375rem; 
    font-weight: 400;
    line-height: 1.245rem;
    font-style: normal;
    letter-spacing: 0.025rem;
}
.emailValueLabel{
    font-size: 1rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}

.addressLabel{
    font-size: 0.75rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.245rem;
    font-style: normal;
    letter-spacing: 0.025rem;
}
.addressValueLabel{
    font-size: 1rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}
.marketingLabel{
    font-size: 0.75rem;
    padding-top: 3.375rem; 
    font-weight: 400;
    line-height: 1.245rem;
    font-style: normal;
    letter-spacing: 0.025rem;
}
.marketingValueLabel{
    font-size: 1rem;
    padding-top: 0.244rem; 
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem;
}

.latestContainer{
    padding-top: 2.875rem !important;
    padding-left: 3.25rem !important; 

}

.latestLabel{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    letter-spacing: 0.009rem; 
}

.tableContainer{
     margin-top: 1.125rem;
     margin-left: -3.313rem;
     width: 58.5rem !important;
     height: 16.625rem !important;
}